extends layout

block content
  h2= picnic.name

  p
  | at #{picnic.location}
  | on #{picnic.date}
  p #{picnic.attendees.length} people are attending

  ul
    each attendee in picnic.attendees
      li= attendee.name

  p These items are needed for the picnic:
  ul
    each item in picnic.items
      li
        input(type="checkbox", checked=item.isEnough)
        | #{item.name} (#{item.quantity}/#{item.desiredQuantity})
        ul
          each whoIsBringingWhat in item.whoIsBringingWhat
            li #{whoIsBringingWhat.user.name} is bringing #{pluralize(item.name, whoIsBringingWhat.quantity, true)}
